body {

}

.gd {
  background: #212121;
  width: auto;
  height: 50%;
}

.gd2 {
  width: auto;
  height: 50%;
}

.gd2div {
  display: grid;
  grid-template-columns: 96px 1fr;
  padding-left: 11%;
  text-align: center;
}

.gd2div span {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;

  font-family: "Rubik Dirt", cursive;
}
