body {
}

.gd {
  background: #ffffff;
  width: auto;
  height: 65%;
  text-align: center;
}

.gd2 {
  width: auto;
  height: 50%;
}

.gd2div {
  display: grid;
  grid-template-columns: 96px 1fr;
  padding-left: 11%;
  text-align: center;
}

.redondo {
  width: 100px;
  height: 100px;
  align-items: center;

  .carousel-indicators {
    bottom: -50px;
}

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
