.img-band{
  padding-right: 2px;
}
.select-qnt-parcelas{
  display: none;
}

.container{
  background-color:white;
  padding-left: 300px;
}

body {
	background: #F6F9FC;
}

.wrapper {
	max-width: 400px;
	margin-top: 50px;
}

h1 {
	text-align: center;
	margin: 60px 0 40px 0;
	font-size: 1.5em;
	color: #101111;
	font-family: sans-serif;
	text-transform: uppercase;
}

.lista-item {
	background: white;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 10px;
	box-shadow: 0 2px 6px rgba(50,50,90,.1);
}

.faq-titulo {
	cursor: pointer;
	padding: 10px;
	font-size: 1.4em;
	font-family: monospace;
	color: #0d0d0e;
}

.faq-titulo::before {
	content: '';
	display: inline-block;
	height: 12px;
	width: 24px;
	margin-right: 10px;
	background: #BEB0F4;
}

.faq-titulo::after {
	content: '+';
	float: right;
	transition: transform .3s ease;
}

.faq-conteudo {
	padding: 10px;
	color: #6B7C93;
	font-family: Helvetica;
	font-size: .875em;
	line-height: 1.4em;
	display: none;
}

.trigger-input {
	display: none;
}

.trigger-input:checked + .trigger-wrapper .faq-conteudo {
	display: block;
}

.trigger-input:checked + .trigger-wrapper .faq-titulo::after {
	transform: rotate(45deg) scale(1.08);
}

img{
  width:200px;
  margin-left: 90px;
}

p{
 text-align: center;
}


.example-form-field {
  width: 200px;
  height: 100px;
  font-size: 15px;
  top: 10px;
  margin: 4px;
  font-family: "Poppins", sans-serif;

  mat-icon {
    font-size: 20px;
  }

  .mat-input-element {
    margin: 4px;
  }
}

.header1 {
  display: flex;
  margin-bottom: 0;
  list-style: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);

  .fundo {
    background-color: white;
  }
}
.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.header2 {
  height: 100px;
  width: 50%;
}

.h2span {
  flex: 4 1 auto;
  text-align: center;
  opacity: 1;
  padding: 10px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

.h1span {
  flex: 4 1 auto;
  text-align: center;
  opacity: 1;
  padding: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}


.header3 {
  height: 100px;
  width: 70%;
  display: flex;
  gap: 10px;
}

.header3 button {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.gd {
  background: #ffffff;
  width: auto;
  height: 65%;
  text-align: center;
}

.espaco {
  padding-top: 5%;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,100;1,200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,100;1,200&family=Oswald:wght@200&display=swap");
