<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
</style>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
</style>

<body>
  <header class="header1">
    <mat-toolbar class="fundo">
      <span class="h2span">Custom Clothing</span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <button mat-flat-button routerLink="/home">
        <span>Home</span>
      </button>
      <button mat-flat-button routerLink="/lookbook">
        <span>Lookbook</span>
      </button>
      <button mat-flat-button routerLink="/mans">
        <span>Mans</span>
      </button>
      <button mat-flat-button routerLink="/woman">
        <span>Woman</span>
      </button>
      <button mat-flat-button routerLink="/sales">
        <span>Sales</span>
      </button>
      <button mat-flat-button routerLink="/stores">
        <span>Stores</span>
      </button>
      <button mat-icon-button class="example-icon">
        <mat-icon color="primary">shopping_cart</mat-icon>
      </button>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-icon color="primary">search</mat-icon>
        <input matInput type="text" [(ngModel)]="value" />
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
          <mat-icon color="primary" style="width: 100px">close</mat-icon>
        </button>
      </mat-form-field>
    </mat-toolbar>
  </header>

  <div class="espaco">
    <div class="text">
      <a>Roupas Femininas</a>
    </div>
    <hr style="size: 30; width: 2; align-items: center" />

    <div class="row">
      <!-- card1 -->
      <ng-container *ngFor="let item of produtos">
        <div class="col-md-3">
          <div class="card">
            <div class="card-main">
              <!-- <div class="discount">40% off</div> -->
              <!-- <div class="label label-green">FRETE GRÁTIS</div> -->
              <!-- img pequenado lado -->
              <!-- <div class="product-container"> -->
              <!-- <div class="p"><img src="../assets/img/calca.jpg" alt="Product"> </div> -->
              <!-- <div class="p"><img src="../assets/img/calca3.jpg" alt="Product"> </div> -->
              <!-- <div class="p"><img src="../assets/img/class2.jpg" alt="Product"> </div> -->
              <!-- </div> -->
              <div class="image">
                <img src="{{ item.imagem }}" alt="Image" onmouseover="" onmouseout="" />
                <div class="cart-item">
                  <ul>
                    <li>
                      <span class="material-icons" routerLink="/detalhes/{{item.id}}">
                        shopping_cart
                      </span>
                    </li>
                    <li>
                      <span class="material-icons"> favorite_border </span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- espaço branco -->
              <!-- <div class="cart-line"></div> -->
            </div>

            <div class="content">
              <!-- title Api -->
              <a></a>
              <a href="">{{ item.nomeproduto }}</a>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>
                <!-- preco Api -->
                <span class="money">R${{ item.produtopreco }}</span>
                <span class="old-price">{{item.oldprice}}</span>
              </p>
              <p></p>
              <!-- parcela Api -->
              <p class="parcela">---</p>
            </div>
          </div>
        </div>
      </ng-container>
      <div>
      </div>
    </div>
  </div>

  <!-- fim card produto -->
  <script src="../../../main.js"></script>
  <script src="../js/main.js"></script>
</body>
