
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>

<header class="header1">
  <mat-toolbar class="fundo">
    <span class="h2span">Custom Clothing</span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <button mat-stroked-button color="primary" style="left: 67%;" routerLink="/home">Voltar
      <mat-icon class="material-symbols-outlined">home</mat-icon>
    </button>
    <mat-toolbar class="fundo" class="header3">
      <span class="example-spacer"></span>
    </mat-toolbar>
  </mat-toolbar>
</header>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-red layout-top-nav">
<div class="wrapper">

  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

      <!-- INICIO DO CONTEUDO -->
      <section class="content-header">
      </section>

      <section class="content">

        <div class="jumbotron">

          <section class="pedido">

          <div class="stepper-wrapper">
            <div class="stepper-item completed">
              <div class="step-counter"><i class='bx bxs-credit-card'></i></div>
              <div class="step-name">Pagamento</div>
            </div>
            <div class="stepper-item completed">
              <div class="step-counter"><i class='bx bxs-hourglass-bottom'></i></div>
              <div class="step-name">Em análise</div>
            </div>
            <div class="stepper-item active">
              <div class="step-counter"><i class='bx bx-check-square'></i></div>
              <div class="step-name">Confirmado</div>
            </div>
            <div class="stepper-item">
              <div class="step-counter"><i class='bx bxs-cart-download' ></i></div>
              <div class="step-name">Concluído/Enviado</div>
            </div>
          </div>
          <div>
            <h2>Voce pode ver abaixo os itens que serão enviados para voce e acompanhar o pedido.</h2>
            <div>
              <div class="row shc">

                <div class="col-md-6 shc">
                    <div id="dados-devedors">
                      <div> <p class="numeropedido"><b>N do pedido:</b>10003</p></div>
                    </div>
                </div>

                <div class="col-md-6 shc">
                    <div id="eventos2">
                      <p class="datapedido"><b>Pedido feito em:</b>Dez 8, 2022</p>
                    </div>
                </div>
            </div>


            </div>
            <hr style="width: 100%;">


            <div class="row shc">

              <div class="col-md-6 shc">
                  <div id="dados-devedor">

                 <h1><i class="bi bi-credit-card"></i>Forma de Pagamento</h1>
                 <div>
                  <div><a>Cartão de Crédito</a></div>

                  <a>Compra parcelada em 5x</a>
                 </div>

                  </div>
              </div>

              <div class="col-md-6 shc" *ngFor="let item of clientes">
                  <div id="eventos">
                    <h1><i class="bi bi-truck"></i>Endereço de entrega</h1>
                    <div>
                      <div> <p><b>Rua: </b>{{item.shippingAddressStreet}}</p></div>
                      <div> <p><b>Numero: </b>{{item.shippingAddressNumber}}</p></div>
                      <div> <p><b>Bairro: </b>{{item.shippingAddressDistrict}}</p></div>
                    </div>
                  </div>

              </div>

          </div>

          </div>
          <ng-container>
            <div class="container">
              <div class="cart-table">
                <div class="cart-product">
                  <table class="table table-responsive">
                    <thead>
                      <tr>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of products; let i = index">
                        <td>{{item.nomeproduto}}</td>
                        <td><img style="width: 120px;" src="{{item.imagem}}" alt=""></td>
                        <td>R${{item.produtopreco}}</td>
                        <td>{{item.quantidade}}</td>
                        <td>{{item.total}}</td>
                        <td>
                        </td>

                      </tr>
                      <tr>
                        <td colspan="4"></td>
                        <td><button routerLink="/concluido" class="btn btn-success">Finalizar</button></td>
                        <td><strong>Total : ${{grandTotal}}</strong></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-container>
          </section>
        </div>


      </section>
      <!-- FIM DO CONTEUDO -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="assets/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="assets/js/demo.js"></script>

<script src="plugins/iCheck/icheck.min.js"></script>

</body>
</html>

