.container{
  padding: 5%;
}


.jumbotron{
  background-color: #fffefe;
  padding: 10%;
  text-align: center;
}

.pedido{
  margin-top: -70px;
}
.header1 {
  display: flex;
  margin-bottom: 0;
  list-style: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);

  .fundo {
    background-color: white;
  }
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.header2 {
  height: 100px;
  width: 50%;
}

.h2span {
  flex: 4 1 auto;
  text-align: center;
  opacity: 1;
  padding: 10px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

.header3 {
  width: 70%;
  display: flex;
  gap: 10px;
  background-color: white;
}

.header3 button {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: #4bb543;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {

  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

.estrelas input[type=radio] {
  display: none;
}

.estrelas label i.fa:before {
  content:'\f005';
  color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
  color: rgb(151, 151, 151);
}

.icone{
  padding-right: 10px;
}

.numeropedido{
  text-align: left;
}

.datapedido{
  text-align: right;
}
