<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
</style>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
  }
</style>


<body>
  <header class="header1">
    <mat-toolbar class="fundo">
      <span class="h2span">Custom Clothing</span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <button mat-flat-button routerLink="/home">
        <span>Home</span>
      </button>
      <button mat-flat-button routerLink="/lookbook">
        <span>Products</span>
      </button>
      <button mat-flat-button routerLink="/mans">
        <span>Mans</span>
      </button>
      <button mat-flat-button routerLink="/woman">
        <span>Woman</span>
      </button>
      <button mat-flat-button routerLink="/sales">
        <span>Sales</span>
      </button>
      <button mat-flat-button routerLink="/stores">
        <span>Stores</span>
      </button>
      <button mat-icon-button class="example-icon" routerLink="/carrinho">
        <mat-icon matBadge={{totalItem}} color="primary">shopping_cart</mat-icon>
      </button>
      <!-- <mat-form-field class="example-form-field" appearance="fill">
        <mat-icon color="primary">search</mat-icon>
        <input matInput type="text" [(ngModel)]="value" />
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
          <mat-icon color="primary" style="width: 100px;">close</mat-icon>
        </button>
      </mat-form-field> -->
    </mat-toolbar>

  </header>


  <ng-container style="display: fixed;" *ngFor="let item of products">
    <div class="espaco">
      <div class="row">
        <div class="col-md-5">
          <div class="card">
            <div class="card-main">
              <div class="product-container">
              </div>
              <div>
                <img src="{{item.imagem}}" alt="Image" />
              </div>
            </div>
          </div>
        </div>

        <!-- 2card -->
        <div class="col-md-5">
          <div class="card">
            <div class="card-main">
              <div class="image">
                <div class="content">
                  <a href="">{{item.nomeproduto}}
                    <hr style="size:30; width: 2;align-items: center;">
                  </a>
                  <!-- estrela -->
                  <p>
                    <span>
                      <div style="font-size:x-large; color: orange;">
                        <ngb-rating [max]="5" [rate]='item.avaliacao' [readonly]="true"></ngb-rating>
                      </div>
                    </span>
                    <span style="font-weight: 300;">{{item.descricao}}</span>
                  </p>
                  <!-- fim estrela -->
                  <p class="valor">
                    <span class="money">R${{item.produtopreco}}</span>
                    <span class="old-price"></span>
                  </p>
                  <p class="parcela">3x de R$53,30 sem juros no cartão</p>
                  <p class="cor">Cor: {{item.cor}}
                    <span>
                      <div id="circulo"></div>
                    </span>
                  </p>
                  <p class="tam">Tamanho</p>
                  <div id="quadrado">
                    <p>{{item.tamanho2}}</p>
                  </div>
                </div>
                <div class="botao">
                  <input (click)="addtocart(item)" href="order-summary.html"
                    class="btn btn-success pull-right btn-lg btn-block" type="button" value="Adicionar no Carrinho">
                </div>
              </div>
              <!-- espaço branco -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- fim card produto -->
</body>