<p>header works!</p>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
  </style>

<p class="header1">
  <mat-toolbar class="header2" color="primary">
    <span class="h2span">Custom Clothing</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <mat-toolbar class="header3" color="primary">
    <span class="example-spacer"></span>
    <button mat-flat-button color="primary">
      <span>Home</span>
    </button>
    <button mat-flat-button color="primary">
      <span>Lookbook</span>
    </button>
    <button mat-flat-button color="primary">
      <span>Mans</span>
    </button>
    <button mat-flat-button color="primary">
      <span>Woman</span>
    </button>
    <button mat-flat-button color="primary">
      <span>Sales</span>
    </button>
    <button mat-flat-button color="primary">
      <span>Stores</span>
    </button>
    <button mat-icon-button class="example-icon">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button class="example-icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
</p>
