.example-form-field {
  width: 200px;
  height: 100px;
  font-size: 15px;
  top: 10px;
  margin: 4px;
  font-family: "Poppins", sans-serif;

  mat-icon {
    font-size: 20px;
  }

  .mat-input-element {
    margin: 4px;
  }
}

.header1 {
  display: flex;
  margin-bottom: 0;
  list-style: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);

  .fundo {
    background-color: white;
  }
}
.app-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.header2 {
  height: 100px;
  width: 50%;
}

.h2span {
  flex: 4 1 auto;
  text-align: center;
  opacity: 1;
  padding: 10px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

.header3 {
  width: 70%;
  display: flex;
  gap: 10px;
  background-color: white;
}

.header3 button {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.gd {
  background: #ffffff;
  width: auto;
  height: 65%;
  text-align: center;
}

.gd2 {
  width: auto;
  height: 50%;
}

.gd2div {
  display: grid;
  grid-template-columns: 96px 1fr;
  padding-left: 11%;
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
}

.card {
  height: 60vh;
  margin: 25px;
  padding: 25px;
}

.center img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  height: 162px;
  width: 250px;
  margin: 20px 0px;
}

h4,
h6 {
  font-weight: 400;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-table {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.center .btn {
  font-size: 14px !important;
  margin-top: 20px !important;
  font-weight: 400;
  padding: 12px 72px;
  border-radius: 3px !important;
}
