<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
</style>

<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<header class="header1">
  <mat-toolbar class="fundo">
    <span class="h2span">Custom Clothing</span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <button mat-stroked-button color="primary" style="left: 67%;" routerLink="/home">Voltar
      <mat-icon class="material-symbols-outlined">home</mat-icon>
    </button>
    <mat-toolbar class="fundo" class="header3">
      <span class="example-spacer"></span>
    </mat-toolbar>
  </mat-toolbar>
</header>

<body style="margin-top: 160px;">
  <ng-container *ngIf="products.length !=0">
    <div class="container">
      <div class="cart-table">
        <div class="cart-product">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Sr.no</th>
                <th>Product Name</th>
                <th>Product Image</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.nomeproduto}}</td>
                <td><img style="width: 120px;" src="{{item.imagem}}" alt=""></td>
                <td>{{item.descricao}}</td>
                <td>R${{item.produtopreco}}</td>
                <td>{{item.quantidade}}</td>
                <td>{{item.total}}</td>
                <td>
                  <button mat-raised-button color="warn" (click)="removeItem(item)">
                    <mat-icon class="material-symbols-rounded">delete</mat-icon>
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="4"></td>
                <td>
                  <button mat-raised-button color="warn" (click)="emptycart()">
                    Empty Cart
                    <mat-icon class="material-symbols-rounded">delete</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-raised-button color="primary" routerLink="/home">
                    Shop More
                    <mat-icon class="material-symbols-rounded">menu_open</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-raised-button color="primary" routerLink="/finalizado">
                    Checkout
                    <mat-icon class="material-symbols-rounded">done</mat-icon>
                  </button>
                </td>
                <td><strong>Grand Total: ${{grandTotal}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>


  <ng-container *ngIf="products.length ==0">
    <div class="container">
      <div class="card">
        <h5 class="card-title" style="font-size: 20px;">Meu Carrinho</h5>
      </div>
    </div>

    <div class="center">
      <img
        src="https://images.prismic.io/eskolare/10fc8c1e-b0fe-4102-8e8b-1d39b214ee3c_Hero-Concierge.png?auto=compress,format&rect=0,0,1280,975&w=1280&h=975"
        alt="">
      <h4>Seu carrinho está vazio</h4>
      <h6>Adicione um produto para continuar</h6>
      <button mat-raised-button color="primary" routerLink="/home">Comprar agora!</button>
    </div>
  </ng-container>
</body>
