.example-form-field {
  width: 200px;
  height: 100px;
  font-size: 15px;
  top: 10px;
  margin: 4px;
  font-family: "Poppins", sans-serif;

  mat-icon {
    font-size: 20px;
  }

  .mat-input-element {
    margin: 4px;
  }
}


.header1 {
  display: flex;
  margin-bottom: 0;
  list-style: none;
  z-index: 1;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
}

.app-toolbar{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}


.header2 {
  height: 100px;
  width: 50%;
  background-color: beige;
}

.h2span {
  flex: 4 1 auto;
  text-align: center;
  opacity: 1;
  padding: 10px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

.header3 {
  height: 100px;
  width: 70%;
  display: flex;
  gap: 10px;
  background-color: beige;

}

.header3 button {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  background-color: beige;
}

.gd {
  background: #ffffff;
  width: auto;
  height: 65%;
  text-align: center;
}

.gd2 {
  width: auto;
  height: 50%;
}

.gd2div {
  display: grid;
  grid-template-columns: 96px 1fr;
  padding-left: 11%;
  text-align: center;
}

.redondo {
  width: 100px;
  height: 100px;
  align-items: center;

  .carousel-indicators {
    bottom: -50px;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}


.pagamento{
  background-color:beige;
  margin-top: 5%;

  .h2span {
    flex: 4 1 auto;
    text-align: center;
    opacity: 1;
    padding: 10px;
    padding-left: 10%;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
  }

}

.main-header{
  background-color:antiquewhite;
}

.itens{
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 20px;
  size: 30;
  width: 2;
  align-items: left;
}

.formas{
  padding-top: 5%;
}

.imgitem{
  width: 80px;
}
